<!doctype html>
<html lang="zxx">
    <head>
        <link rel="icon" href="/static/favicon.PNG">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Wandermeet</title>

        <link href="https://fonts.googleapis.com/css2?family=Kodchasan&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/assets/css/style-starter.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
           integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
           crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
           integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
           crossorigin=""></script>
    </head>
    <body class="bg2">
        <script>
            let logged = sessionStorage.getItem("logged");
            if (logged !== "true") {
                window.location.href = "/login";
            }
            function logout() {
                sessionStorage.setItem("logged", "false");
                window.location.href = "/";
            }
        </script>
        {% include "spinner.html" %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 header row nomargin">
                    <div class="col-1 nopadding">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="col-10 nopadding">
                        <a href="/"><h1 class="logo">WANDERMEET</h1></a>
                    </div>
                    <div class="col-1 nopadding">
                        <i class="fa fa-arrow-circle-right" onclick="logout()"></i>
                    </div>
                </div>
                <!-- START content -->
                <div class="col-12 content" style="display: flex; flex-direction: column; align-items: center">
                     <div id="mapid" style="height: 90vh; width: 100vw"></div>
                </div>
                <!-- END content -->
                <div class="col-12 footer">
                    <a href="/home"><i class="fa fa-users"></i></a>
                    <a href="/map" class="active"><i class="fa fa-globe"></i></a>
                    <a href="/profile"><i class="fa fa-user"></i></a>
                </div>
                <style>
                    .leaflet-marker-icon {
                        filter: hue-rotate(-177deg) brightness(1.2) contrast(1.1) !important;
                    }
                    .leaflet-popup-content {
                        font-family: 'Kodchasan';
                        width: 92px;
                        color: orange;
                        text-transform: uppercase;
                        text-align: justify;
                        margin: 10px;
                        font-size: 15px;
                    }
                    .leaflet-popup-content-wrapper {
                        box-shadow: 2px 4px 6px #00000054;
                        background: #ffffffb3;
                        border-radius: 0;
                    }
                </style>
                <script>
                    var mymap = L.map('mapid').setView([-34.5716212, -58.4138882], 15);

                    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiaHVnb2xvMjciLCJhIjoiY2toZ25lOWxsMTV3bzJ3dDk0OXI3ZzJocCJ9.zh3kBvT0DiFbj_ej1tMWtQ', {
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox/streets-v11',
                        tileSize: 512,
                        zoomOffset: -1,
                        accessToken: 'pk.eyJ1IjoiaHVnb2xvMjciLCJhIjoiY2toZ25lOWxsMTV3bzJ3dDk0OXI3ZzJocCJ9.zh3kBvT0DiFbj_ej1tMWtQ'
                    }).addTo(mymap);

                    var markerOptions = {
   title: "MyLocation",
   clickable: true,
   draggable: true
}

                    var m1 = L.marker([-34.5690548, -58.4182067], markerOptions).addTo(mymap)
                        .bindPopup("<b>Museo de<br/> artes plásticas<br/> 'Eduardo Sivori'</b><br/>");

                    var m2 = L.marker([-34.5696617, -58.4117992]).addTo(mymap)
                        .bindPopup("<b>Planetario<br/> Galileo Galilei<br/>");

                    var m3 = L.marker([-34.575142, -58.409321]).addTo(mymap)
                        .bindPopup("<b>Jardines<br/> Japoneses de<br/> Buenos Aires</b><br/>");

                    var circle = L.circle([-34.5716212, -58.4138882], {
                        color: '#cb88ff',
                        fillColor: '#cb88ff',
                        fillOpacity: .8,
                        radius: 100
                    }).addTo(mymap);
                </script>
            </div>
        </div>
    </body>
</html>