:root {
  --w-violet: #cb88ff;
  --w-yellow: #f3ff87;
  --w-orange: #ff914d;
  --w-cyan: #6effa8;
  --big-text: 18px;
  --normal-text: 14px;
  --small-text: 12px;
}

body {
    min-height: 100vh;
    min-width: 100vw;
}

/*font-family: 'Kodchasan', sans-serif;*/

@font-face {
	font-family: VAL;
	src: url("/static/assets/fonts/VAL.f7939b4faf54.otf") format('woff2'),
	local('/static/assets/fonts/VAL.otf');
	font-display: swap;
}

.bg1 {
    background-image: url("/static/assets/images/bg1.1e3fdc9c5cf3.PNG");
        background-size: 100% 100%;

}

.bg2 {
    background-image: url("/static/assets/images/bg2.12a32bfbdd66.PNG") !important;
    background-size: 100% 100%;
}

.nomargin {
    margin: 0 !important;
}

.nopadding {
    padding: 0 !important;
}

.header{
    background-color: var(--w-violet);
    position: absolute;
    top: 0;
    left: 0;
}

.header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header i {
    color: white;
    text-align: center !important;
    font-size: 1.4rem;
}

.logo {
    font-family: VAL, sans-serif;
    color: var(--w-orange);
    filter: drop-shadow(2px 3px 1px black);
    text-align: center !important;
    width: 100%;
    font-size: 2.2rem;
    margin: 5px 0;
}

.text1 {
    font-family: 'Kodchasan', sans-serif;
    color: black;
    width: 100%;
    text-align: center;
}

.allmiddle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    text-transform: uppercase;
    font-family: 'Kodchasan', sans-serif;
    font-size: var(--big-text);
    background-color: var(--w-violet) !important;
    box-shadow: 1px 1px 1px black;
    color: black !important;
    width: fit-content !important;
    text-align: center;
    padding: 5px 15px;
    cursor: pointer;
}

.kodchasan {
    font-family: 'Kodchasan', sans-serif;
}

.fullheight {
    height: 100vh;
}

input {
    font-family: 'Kodchasan', sans-serif;
    font-size: var(--normal-text);
    color: var(--w-violet);
    width: 100%;
    margin: 10px 0;
    border: 0;
    box-shadow: 0 0 3px black;
    border-radius: 0;
    padding: 5px 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--w-violet);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--w-violet);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--w-violet);
}

.footer {
    position: fixed !important;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--w-violet);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px;
    z-index: 5000;
}

.footer > a {
    color: white;
    font-size: 30px;
}

.active {
    filter: drop-shadow(2px 3px 2px black);
    color: var(--w-orange) !important;
}

.profile-img {
    border-radius: 50%;
    width: 20vh;
    object-fit: cover;
    height: 20vh;
    margin-top: 20px;
}

.titorange {
    font-family: 'Kodchasan', sans-serif;
    font-size: var(--big-text);
    color: var(--w-orange);
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.profile-tit {
    font-size: var(--big-text);
    text-align: left;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
}

.profile-sub {
    font-size: var(--normal-text);
    text-align: justify;
    width: 100%;
    margin-top: 10px;
}

.history-img {
    height: 100px;
    object-fit: cover;
    width: 100%;
}

.content {
    padding-bottom: 100px;
}

.bai {
    position: absolute;
    right: 20px;
    top: 7px;
    width: min-content;
    font-size: 25px;
}

.history-con {
    padding: 10px;
    background: white;
    width: 100%;
    margin-bottom: 15px;
}

.star-rating {
    font-size: var(--small-text) !important;
    color: var(--w-orange);
}

h4.star-rating  {
    margin: 0 0 0 5px;
}